.signup {
    padding: 3rem;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;
}
.title {
    font-size: 20px;
    font-weight: bold;
}
button {
    cursor: pointer;
}