<div class="outcoming">
    <div class="outcoming_title">Outcoming messages</div>
    <div *ngFor="let message of messages">
        <div class="message_item">
            <div class="message_item__header">
                <div class="message_item__header___title">
                    {{message.title}}
                </div>
                to {{message.receiver.name}}
            </div>
            <div class="message_item__text">
            {{message.text}}
        </div>
        </div>
    </div>
</div>
